.skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}

.skill input {
  font-size: 14px;
  height: 2rem;
  border-radius: 1rem;
  border: 0;
  margin: 0.4rem 0;
  padding: 0 1rem;
  outline: none;
  width: 67%;
}

.skill__example, .skill__level {
  position: relative;
  display: flex;
  flex-direction: row;

}

.skill__button {
  z-index: 1;
  background: 0;
  position: absolute;
  right: 0px;
}
