.edit {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  margin: 2rem;
}

.edit__form-personal {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.edit__form-personal input, 
.edit__form-experience input {
  height: 2rem;
  border-radius: 10px;
  border: 0;
  margin: 5px 0;
  padding: 0 10px;
}

.edit__form-experience {
  display: flex;
  flex-direction: column;
}

.edit__date-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 2rem;
}

.edit__date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 24px;
  background: white;
  padding-left: 10px;
  height: 2rem;
  border-radius: 10px;
}

.edit__date label {
  color: rgb(98, 98, 98);
  font-size: small;
  margin-right: 2rem;
}

.edit__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
