.skill {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 67%;
}

.skill-type input {
  font-size: 14px;
  height: 2rem;
  border-radius: 1rem;
  border: 0;
  margin: 0.4rem 0;
  padding: 0 8rem 0 1rem;
  outline: none;
  width: 100%;
}

.skill-input-container{
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.skill-input-container input {
  font-size: 14px;
  height: 2rem;
  border-radius: 1rem;
  border: 0;
  margin: 0.4rem 0;
  padding: 0 8rem 0 1rem;
  outline: none;
  width: 100%;
}

.skill-input-container button {
  position: absolute;
  font-size: 14px;
  color: gray;
  background: 0;
  border: 0;
  right: 0;
  padding-right: 1rem;
} 

.skill-input-container button:hover {
  color: blue;
}