.section-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.section-form__input {
  font-size: 14px;
  height: 2rem;
  border-radius: 1rem;
  border: 0;
  margin: 0.4rem 0;
  padding: 0 1.5rem;
  outline: 0
}