.section-form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: .5rem;
}

.section-form__input {
  font-size: 14px;
  height: 2rem;
  border-radius: 1rem;
  border: 0;
  margin: 0.4rem 0;
  padding: 0 1.5rem;
  outline: 0
}

.section-form__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 0.5rem;
}

.section-form button {
  border-radius: 1rem;
  border: 0;
  font-size: 14px;
  background: white;
  margin-right: 2rem;
  width: 7rem;
  height: 2rem;
}

.section-form__delete:hover {
  color: red;
  background: rgb(255, 224, 224);
}

.section-form__delete:active {
  color: red;
  background: rgb(255, 241, 241);
}

.section-form__add:hover {
  color: blue;
  background: rgb(234, 234, 255);
}

.section-form__add:active {
  color: blue;
  background: rgb(242, 242, 255);
}