.bullet-point {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: small;
}

.bullet-point__point {
  margin-left: 2.2rem;
  width: 5%;
}

.bullet-point__text {
  width: 95%;
}