.applicant {
  display: flex;
  flex-direction: column;
  align-items: center;  
  background-color: rgb(71, 182, 216);
  border-radius: 12px;
  margin-top: -78px;
  padding: 1rem 2rem;
  color: black;
}

.applicant__name {
  display: flex;
  flex-direction: row;
  font-size: 32px;
  font-weight: 800;
}

.applicant__title {
  font-size: 16px;
  font-weight: 800;
}