.experience {
  display: flex;
  flex-direction: column;
}

.experience__date-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 2rem;
  margin-bottom: 1rem;
}

.experience__date {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px 10px 10px 0;
  background: white;
  padding-left: 10px;
  height: 2rem;
  border-radius: 10px;
}

.experience__date label {
  color: rgb(98, 98, 98);
  font-size: 14px;
  margin-right: 2rem;
  padding-left: 0.4rem;
}

.experience__date input {
  border: 0;
  padding-right: 1rem;
}

.experience input[type='text'] {
  font-size: 14px;
  height: 2rem;
  border-radius: 10px;
  border: 0;
  margin: 0.4rem 0;
  padding: 0 1rem;
}

.experience__highlight {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.experience__highlight input {
  padding-right: 90px;
  font-size: 14px;
  width: 100%;
}

.experience__highlight button {
  position: absolute;
  font-size: 14px;
  right: 2px;  
  top: 7px;
  width: 10rem;
  height: 2rem;
  border: 0;
  background: 0;
  color: rgb(106, 106, 187);
  /* z-index: 1; */
}

.experience__highlight button:hover {
  color: blue;
}

.experience__highlight button:active {
  color: rgb(199, 57, 235);
}

.experience__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.experience__buttons button {
  border-radius: 10px;
  border: 0;
  background: white;
  margin-right: 2rem;
  width: 7rem;
  height: 2rem;
}

#delete {
  color: rgb(255, 0, 0);
}

#delete:hover {
  background: rgb(253, 201, 201);
}

#add {
  color: rgb(106, 106, 187);
}

#add:hover {
  color: blue;
  background: rgb(224, 224, 255);
}